
    <div id="header">
        <span class="logo icon fa-paper-plane"></span>
        <h1>Savitar</h1>
        <p>Un questionnaire pour vous aider dans votre transition 4.0</p>
        <ul class="actions special" style="margin-top:1em;">
            <li><%= link_to "Réaliser le test", new_questionnaire_path, class: 'button', style: "width:60%;" %></li>
            <li><a class="button" style="width:60%;" href="#infos">En savoir plus</a></li>
        </ul>
    </div>


    <div id="infos" class="box alt container">
        <section class="feature left">
            <div class="image icon solid fa-signal"><%= image_tag 'pic01.jpg' %></div>
            <div class="content">
                <h3>Comprendre l'avenir</h3>
                <p>Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor orci penatibus. Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis fusce lacus.</p>
            </div>
        </section>
        <section class="feature right">
            <div class="image icon solid fa-code"><%= image_tag 'pic02.jpg' %></div>
            <div class="content">
                <h3>Préparer son entreprise</h3>
                <p>Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor orci penatibus. Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis fusce lacus.</p>
            </div>
        </section>
        <section class="feature left">
            <div class="image icon solid fa-mobile-alt"><%= image_tag 'pic03.jpg' %></div>
            <div class="content">
                <h3>Commencer la transition</h3>
                <p>Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor orci penatibus. Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis fusce lacus.</p>
            </div>
        </section>
    </div>


    <footer class="major container medium">
        <h3>Notre IA est prête à vous aider</h3>
        <p>En remplissant notre formulaire, nous trouverons des plans d'action adaptés à votre entreprise.</p>
        <ul class="actions special">
            <li><%= link_to "Réaliser le test", new_questionnaire_path, class: 'button' %></li>
        </ul>
    </footer>

    <div style="text-align:center;margin-top:50px;">
        <ul class="copyright">
            <li>Savitar © Copyright 2019 - Tous droits réservés.</li>
            <%# <li>Code: <a href="https://github.com/Zepri">Clément Collongues</a></li> %>
        </ul>
    </div>