
<style>
form {
  width: 80%;
  margin: auto;
}

.question {
  font-weight: 600;
}

.question_container {
  margin-bottom: 70px;
}

.reponse {
}

.reponse > label {
  font-size: 1em;
  text-transform: none;
  display: inline-block;
  font-weight: 600;
}

.reponse > label:hover {
  color: #4eb980;
  text-decoration: underline;
}
</style>

<%= simple_form_for(@questionnaire) do |f| %>

  <% Question.all.each do |q| %>
  <div class="question_container">
    <p class="question"><%= q.text %></p>
    
    <% q.answers.each do |a| %>

      <div class="reponse">
        <%= radio_button_tag "question[#{q.id}]", a.id %>
        <%= f.label a.text, class: "reponse_label", for: "question_#{q.id}_#{a.id}" %>
      </div>
      
    <% end %>
  </div>
  <% end %>
    
 

  <div class="form-actions">
    <%= f.submit "Valider vos réponses" %>
  </div>
<% end %>
