<style>
.full_container {
    width:100%;
    height:95%;
}
.chart_container {
    display:inline-block;
    height:100%;
    width:49%;
    text-align:center;
}
.plan_container {
    display:inline-block;
    padding-left:50px;
    width:49%;
    height:100%;
    overflow:scroll;
    border-left: 1px solid lightgrey;
}
.card {
    background-color:#4EB980;
    /*cursor:pointer;*/
    cursor:default;
    left: 180.5px;
    right: -299.499px;
    top: 0px;
    display: block;
    font-size: 0.85em;
    line-height: 1.3;
    border-radius: 2px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px grey;
    font-weight: 400;
    color: white;
    padding:5px;
    width:33%;
    margin:5px;
}
.flex_container {
    display:flex;
    margin-bottom: 1em;
}
</style>

<div class="full_container">
    <div class="chart_container">
        <%= radar_chart @data, @option %>
    </div>

    <div class="plan_container">
        <h2>Plans d'action</h2>
        <% Item.all.each do |i| %>
            <h4> <%= i.name %> </h4>
            <div class="flex_container">
            <% Question.where(item_id: i.id).each do |q| %>
                <% unless @questionnaire.answers.where(question_id: q.id).empty? %>
                    <% answers_list = q.answers.where("points >= ?", @questionnaire.answers.where(question_id: q.id).first.points) %>
                    <% answers_list.order("points asc").each do |a| %>
                        
                        <% if !a.plans.empty? %>
                            <% a.plans.each do |pl| %>
                            <div class="card">
                                <span style="font-weight:bold;border-bottom: 1.5px solid black;color:black;"><%= pl.name  %></span><br>
                                <% unless pl.budget.nil? %>
                                    <div style="margin-top:5px;">Budget: <%= pl.budget.to_s %> €</div>
                                <% end %>

                                <% unless pl.duration.empty? %>
                                    <div>Durée: <%= pl.duration %></div>
                                <% end %>

                                <% unless pl.rh.empty? %>
                                    <div><%= pluralize(pl.rh, " personne") %></div>
                                <% end %>
                            </div>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
            </div>
        <% end %>
    </div>
</div>